@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

.image-txt-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.image-txt-container .name {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

.image-txt-container .details {
    font-family: 'Raleway', sans-serif;
}

.image-round {
    width: 200;
    height: 200;
    border: 3px solid 'black';
    border-radius: 100;
}
