@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

.image-txt-container {
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
}

.image-txt-container .name {
    font-size: x-large;
    text-transform: uppercase;
}

.image-txt-container .details {
    font-size: medium;
    padding-left: 20px;
}

.image-txt-container .image-round {
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.search-bar {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.search-bar-tag {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    margin-top: 15px;
}

.collapseExpand {
    position: absolute;
    right: 50px;
    font-size: x-large;
    opacity: 0.5;
}

.gradesList {
    margin: 0;
}
