@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

.image-txt-container {
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
}

.image-txt-container .name {
    font-size: xx-large;
    text-transform: uppercase;
    padding: 0;
    margin-top: 20px;
}

.image-txt-container .details {
    font-size: medium;
    font-weight: 600;
    padding-left: 20px;
    margin: 0;
}

.image-txt-container .image-round {
    border: 1px solid #ddd;
    border-radius: 50%;
    margin: 20px;
    width: 150px;
    height: 150px;
}

.search-bar {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
}

.search-bar-tag {
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    margin-top: 20px;
}

.collapseExpand {
    position: absolute;
    right: 50px;
    font-size: x-large;
    opacity: 0.5;
}

.gradesList {
    margin: 0;
}

.gradesList-div {
    margin-bottom: 20px;
}

.tag-div {
    margin-top: 20px;
}

.tag {
    background-color: lightgray;
    padding: 6px;
    border-radius: 0;
    font-size: medium;
    font-weight: bold;
    color: black;
    margin: 3px;
}
